In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
from pandas.io.json import json_normalize
import csv

In [6]:
links = pd.read_csv("inputFiles/links.csv")
links.head()

   movieId   imdbId   tmdbId   newValue
0    53519  1028528   1991.0  tt1028528
1    54995  1077258   1992.0  tt1077258
2    55063  1093842  13241.0  tt1093842
3    55069  1032846   2009.0  tt1032846
4    56102  1135489  18312.0  tt1135489

In [ ]:
movie_df = pd.DataFrame()

for i in range(0,len(links['newValue'])):
    if((i%500)==0):
        print(i)
    details = {
        'i' :links['newValue'][i],
        'apikey':'701a4b0d'
    }
    r = requests.get(f'http://www.omdbapi.com/?',params=details).json()
    r_df = json_normalize(r)
    movie_df = movie_df.append(r_df)
    
print(i)

In [9]:
movie_df = movie_df[['Title','Year','Rated','Released','Runtime','Genre','Director','Writer','Actors','Plot','Language','Country','Awards','Poster','Ratings','Metascore','imdbRating','imdbVotes','imdbID','Type','DVD','BoxOffice','Production','Website','Response']]
movie_df

12807

In [22]:
movie_df = movie_df.reset_index(drop=True)
movie_df.to_csv('imdb_output.csv',index=False)

In [3]:
imdb_data = pd.read_csv("imdb_details_clean.csv")

In [33]:

genreMatrix = pd.DataFrame(columns=genres)
genreMatrix

Empty DataFrame
Columns: [imdbID, Action, Adult, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, Film-Noir, Game-Show, History, Horror, Music, Musical, Mystery, News, Reality-TV, Romance, Sci-Fi, Short, Sport, Talk-Show, Thriller, War, Western]
Index: []

[0 rows x 29 columns]

In [35]:
genres

['imdbID',
 'Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

In [34]:
for i in range(len(imdb_data['Genre'])):
    temp = [imdb_data['imdbID'][i]] + [0]*28
    try:
        list_of_genres = imdb_data['Genre'][i].split(',')
        if len(list_of_genres) > 0:
            for genre in list_of_genres:
                genre = genre.strip()
                temp[genres.index(genre)] = 1
            genreMatrix = genreMatrix.append({'imdbID':temp[0],
                'Action':temp[1],
                'Adult':temp[2],
                'Adventure':temp[3],
                'Animation':temp[4],
                'Biography':temp[5],
                'Comedy':temp[6],
                'Crime':temp[7],
                'Documentary':temp[8],
                'Drama':temp[9],
                'Family':temp[10],
                'Fantasy':temp[11],
                'Film-Noir':temp[12],
                'Game-Show':temp[13],
                'History':temp[14],
                'Horror':temp[15],
                'Music':temp[16],
                'Musical':temp[17],
                'Mystery':temp[18],
                'News':temp[19],
                'Reality-TV':temp[20],
                'Romance':temp[21],
                'Sci-Fi':temp[22],
                'Short':temp[23],
                'Sport':temp[24],
                'Talk-Show':temp[25],
                'Thriller':temp[26],
                'War':temp[27],
                'Western':temp[28]},ignore_index=True)
    except:
        continue
    if i % 1000 == 0:
        print(i)

genreMatrix

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000

,imdbID,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,...,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,tt0114709,0,0,1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,tt0113497,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,tt0113228,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,tt0114885,0,0,0,0,0,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
4,tt0113041,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5,tt0113277,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,1,0,0
6,tt0114319,0,0,0,0,0,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
7,tt0112302,0,0,1,0,0,1,0,0,1,...,0,0,1,0,0,0,0,0,0,1
8,tt0114576,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
9,tt0113189,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
10,tt0112346,0,0,0,0,0,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
11,tt0112896,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,tt0112453,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
13,tt0113987,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
14,tt0112760,1,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,tt0112641,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
16,tt0114388,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
17,tt0113101,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,tt0112281,0,0,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
19,tt0113845,1,0,0,0,0,1,1,0,1,...,0,0,0,0,0,0,0,1,0,0
20,tt0113161,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
21,tt0112722,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
22,tt0112401,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
23,tt0114168,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,1,0,0
24,tt0113627,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
25,tt0114057,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
26,tt0114011,0,0,0,0,0,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
27,tt0114117,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
28,tt0112682,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
29,tt0115012,0,0,0,0,0,0,1,0,1,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57856,tt0035485,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
57857,tt0188518,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
57858,tt2901896,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57859,tt2084872,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
57860,tt0093420,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57861,tt0061785,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
57862,tt5187548,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57863,tt7098658,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
57864,tt5475734,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
57865,tt9038520,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57866,tt7959216,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
57867,tt6513406,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57868,tt0247527,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
57869,tt0410564,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
57870,tt4928814,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57871,tt0167832,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
57872,tt7056864,0,0,0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
57873,tt0063360,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57874,tt8403680,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57875,tt0044560,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
57876,tt0102130,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
57877,tt7724322,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
57878,tt0039202,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57879,tt0038566,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
57880,tt1754787,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57881,tt5847740,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
57882,tt4453756,0,0,1,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
57883,tt7606620,1,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
57884,tt0123221,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
57885,tt3115906,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [36]:
genreMatrix = genreMatrix.reset_index(drop=True)
genreMatrix.to_csv('genreMatrix.csv',index=False)

In [ ]:
genres = []

for i in range(len(imdb_data['Genre'])):
    try:
        temp = imdb_data['Genre'][i].split(',')
        if len(temp) > 0:
            for genre in temp:
                genre = genre.strip()
                if genre not in genres:
                    genres.append(genre)
    except:
        continue
    if i % 1000 == 0:
        print(i)
        print(len(genres))

In [ ]:
actor_details = pd.DataFrame(columns=['Actor', 'Movie'])

for i in range(len(imdb_data['Actors'])):
    try:
        temp = imdb_data['Actors'][i].split(',')
        if len(temp) > 0:
            for actor in temp:
                actor_details = actor_details.append({'Actor': actor, 'Movie': imdb_data['imdbID'][i]}, ignore_index=True)
        if i % 1000 == 0:
            print(i)
    except:
        continue

print(i)
actor_details

In [8]:
len(imdb_data['Actors'])

58150

In [6]:
len(actor_details['Actor'].unique())

102553