In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import *
from sklearn.neighbors import NearestNeighbors

In [32]:
engine = create_engine("sqlite:///data/movies-db.sqlite")
conn = engine.connect()
inspector = inspect(engine)
tables = inspector.get_table_names()
tables

['movies_genres']

In [33]:
full = pd.read_sql('select * from movies_genres', con=conn)

In [34]:
full.head()

,index,movieId,imdbID,title,genres,rating,Action,Adult,Adventure,Animation,...,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,0,1,tt0114709,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.886649,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,1,2,tt0113497,Jumanji (1995),Adventure|Children|Fantasy,3.246583,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2,3,tt0113228,Grumpier Old Men (1995),Comedy|Romance,3.173981,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,3,4,tt0114885,Waiting to Exhale (1995),Comedy|Drama|Romance,2.874540,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,4,5,tt0113041,Father of the Bride Part II (1995),Comedy,3.077291,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [35]:
selections = full.drop(columns=['index','movieId','imdbID','title','genres'])

In [36]:
knn = NearestNeighbors(n_neighbors=6)

In [47]:
knn.fit(selections)
arr = knn.kneighbors([selections.iloc[0]], return_distance = False)

In [48]:
arr

array([[    0, 15484,  4787, 13358,  3026,  4209]])

In [53]:
full.iloc[1358]

index                         1358
movieId                       1392
imdbID                   tt0115906
title          Citizen Ruth (1996)
genres                Comedy|Drama
rating                     3.62528
Action                           0
Adult                            0
Adventure                        0
Animation                        0
Biography                        0
Comedy                           1
Crime                            0
Documentary                      0
Drama                            1
Family                           0
Fantasy                          0
Film-Noir                        0
Game-Show                        0
History                          0
Horror                           0
Music                            0
Musical                          0
Mystery                          0
News                             0
Reality-TV                       0
Romance                          0
Sci-Fi                           0
Short                            0
Sport                            0
Talk-Show                        0
Thriller                         0
War                              0
Western                          0
Name: 1358, dtype: object