In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import *
from sklearn.neighbors import NearestNeighbors

In [32]:
engine = create_engine("sqlite:///data/movies-db.sqlite")
conn = engine.connect()
inspector = inspect(engine)
tables = inspector.get_table_names()
tables

['movies_genres']

In [33]:
full = pd.read_sql('select * from movies_genres', con=conn)

In [34]:
full.head()

,index,movieId,imdbID,title,genres,rating,Action,Adult,Adventure,Animation,...,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,0,1,tt0114709,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.886649,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,1,2,tt0113497,Jumanji (1995),Adventure|Children|Fantasy,3.246583,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2,3,tt0113228,Grumpier Old Men (1995),Comedy|Romance,3.173981,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,3,4,tt0114885,Waiting to Exhale (1995),Comedy|Drama|Romance,2.874540,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,4,5,tt0113041,Father of the Bride Part II (1995),Comedy,3.077291,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [35]:
selections = full.drop(columns=['index','movieId','imdbID','title','genres'])

In [ ]:

thing = selections.iloc[]

In [36]:
knn = NearestNeighbors(n_neighbors=6)

In [47]:
knn.fit(selections)
arr = knn.kneighbors([thing, return_distance = False)

In [48]:
arr

array([[    0, 15484,  4787, 13358,  3026,  4209]])

In [115]:
other_info = pd.read_csv('clean_data/imdb_details_clean.csv')
other_info.columns

Index(['Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre', 'Director',
       'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards', 'Poster',
       'Ratings', 'Metascore', 'imdbRating', 'imdbVotes', 'imdbID', 'Type',
       'DVD', 'BoxOffice', 'Production', 'Website', 'Season', 'Episode',
       'totalSeasons', 'seriesID'],
      dtype='object')

In [119]:
results = []
for i in arr[0]:
    url = f'https://imdb.com/title/{other_info["imdbID"][i]}'
    plot= other_info['Plot'][i]
    title = other_info['Title'][i]
    poster = other_info['Poster'][i]
    temp_dict = {
        'title':title,
        'url':url,
        'plot':plot,
        'poster':poster
    }
    results.append(temp_dict)

In [120]:
results

[{'title': 'Toy Story',
  'url': 'https://imdb.com/title/tt0114709',
  'plot': "A cowboy doll is profoundly threatened and jealous when a new spaceman figure supplants him as top toy in a boy's room.",
  'poster': 'https://m.media-amazon.com/images/M/MV5BMDU2ZWJlMjktMTRhMy00ZTA5LWEzNDgtYmNmZTEwZTViZWJkXkEyXkFqcGdeQXVyNDQ2OTk4MzI@._V1_SX300.jpg'},
 {'title': 'No Greater Love',
  'url': 'https://imdb.com/title/tt1225703',
  'plot': 'Jeff and Heather Baker were life long sweethearts and happily married... for a time. But at her greatest moment of weakness, Heather abandons Jeff, forcing Jeff to raise their young son ...',
  'poster': 'https://m.media-amazon.com/images/M/MV5BMTU3MjI4ODA0Ml5BMl5BanBnXkFtZTcwODAwNTcxMw@@._V1_SX300.jpg'},
 {'title': 'Donnie Darko',
  'url': 'https://imdb.com/title/tt0246578',
  'plot': 'A troubled teenager is plagued by visions of a man in a large rabbit suit who manipulates him to commit a series of crimes, after he narrowly escapes a bizarre accident.',
  'poster': 'https://m.media-amazon.com/images/M/MV5BZjZlZDlkYTktMmU1My00ZDBiLWFlNjEtYTBhNjVhOTM4ZjJjXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg'},
 {'title': "The Grocer's Son",
  'url': 'https://imdb.com/title/tt0864770',
  'plot': 'Antoine Sforza, a thirty-year-old young man, left his village ten years before in order to start a new life in the big city, but now that his father, a traveling grocer, is in hospital ...',
  'poster': 'https://m.media-amazon.com/images/M/MV5BNWE2ZDg2MGQtZDU5Ni00ZTI4LWI1ZjItMWNlNTE0MDZmMjhlXkEyXkFqcGdeQXVyMjQzMzQzODY@._V1_SX300.jpg'},
 {'title': 'The Fisher King',
  'url': 'https://imdb.com/title/tt0101889',
  'plot': 'A former radio DJ, suicidally despondent because of a terrible mistake he made, finds redemption in helping a deranged homeless man who was an unwitting victim of that mistake.',
  'poster': 'https://m.media-amazon.com/images/M/MV5BOGZmMDM1NTQtMzc0Yi00ODRiLWJjYjQtMGRmYWRlOTY2ODMxXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg'},
 {'title': "A Knight's Tale",
  'url': 'https://imdb.com/title/tt0183790',
  'plot': 'After his master dies, a peasant squire, fueled by his desire for food and glory, creates a new identity for himself as a knight.',
  'poster': 'https://m.media-amazon.com/images/M/MV5BMTE5OTE4OTE2Nl5BMl5BanBnXkFtZTYwMDkzMTQ3._V1_SX300.jpg'}]