In [2]:
import pandas as pd
import sqlalchemy
from sqlalchemy import *
from sklearn.neighbors import NearestNeighbors

In [3]:
engine = create_engine("sqlite:///data/movies-db.sqlite")
conn = engine.connect()
inspector = inspect(engine)
tables = inspector.get_table_names()
tables

['movies_genres']

In [4]:
full = pd.read_csv('data/movies_my_tags.csv')

In [5]:
full.head()

,Unnamed: 0,movieId,imdbID,title,genres,rating,Action,Adult,Adventure,Animation,...,way,wife,woman,women,work,world,year,years,york,young
0,0,1,tt0114709,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.886649,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,1,2,tt0113497,Jumanji (1995),Adventure|Children|Fantasy,3.246583,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2,3,tt0113228,Grumpier Old Men (1995),Comedy|Romance,3.173981,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,4,tt0114885,Waiting to Exhale (1995),Comedy|Drama|Romance,2.874540,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,4,5,tt0113041,Father of the Bride Part II (1995),Comedy,3.077291,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [6]:
selections = full.drop(columns=['Unnamed: 0','movieId','imdbID','title','genres'])

In [7]:
knn = NearestNeighbors(n_neighbors=6)

In [8]:
knn.fit(selections)
arr = knn.kneighbors([selections.iloc[0]], return_distance = False)

In [9]:
arr

array([[0, 1, 2, 3, 4, 5]])

In [31]:
full.iloc[45000]

Unnamed: 0                          45000
movieId                            174859
imdbID                          tt6135348
title         120 Beats Per Minute (2017)
genres                 (no genres listed)
                         ...
world                                   0
year                                    0
years                                   0
york                                    0
young                                   0
Name: 45000, Length: 135, dtype: object