In [4]:
import pandas as pd
import numpy as np
import re

In [5]:
imdb_details = pd.read_csv("clean_data/imdb_details_clean.csv")

In [6]:
imdb_details.columns

Index(['Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre', 'Director',
       'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards', 'Poster',
       'Ratings', 'Metascore', 'imdbRating', 'imdbVotes', 'imdbID', 'Type',
       'DVD', 'BoxOffice', 'Production', 'Website', 'Season', 'Episode',
       'totalSeasons', 'seriesID'],
      dtype='object')

In [7]:
plots = imdb_details[['imdbID','Plot']].dropna().reset_index()
plots['Plot'][0]

"A cowboy doll is profoundly threatened and jealous when a new spaceman figure supplants him as top toy in a boy's room."

In [8]:
plots_arr = plots['Plot'].to_numpy()

In [9]:
plots_l = list(plots_arr)

In [10]:
corpus = []
for i in range(0, len(plots_l)):
    text = re.sub('[^a-zA-Z]', ' ', plots_l[i])
    text = text.lower()
    text=re.sub("&lt;/?.*?&gt;"," &lt;&gt; ",text)
    text=re.sub("(\\d|\\W)+"," ",text)
    corpus.append(text)

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [12]:
vectorizer = TfidfVectorizer(max_features=100, stop_words='english')
X = vectorizer.fit_transform(corpus)

In [13]:
my_tags = vectorizer.get_feature_names()

In [14]:
# for i in range(0,len(my_tags)):
#     my_tags[i] = str(my_tags[i])

In [15]:
my_tag_matrix = pd.DataFrame(0, index=np.arange(len(plots)), columns=my_tags)
my_tag_matrix

,american,based,beautiful,begins,best,boy,brother,children,city,college,...,way,wife,woman,women,work,world,year,years,york,young
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55904,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
55905,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
55906,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
55907,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
55908,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
for i in range(0,len(my_tag_matrix)):
    for j in range(0,len(my_tags)):        
        if my_tags[j] in plots['Plot'].iloc[i]:
            my_tag_matrix.iloc[i][my_tags.index(my_tags[j])] = 1

In [17]:
my_tag_matrix['imdbID_formatted'] = plots['imdbID']

In [18]:
my_tag_matrix.to_csv('data/my_tags2.csv')

In [19]:
df = my_tag_matrix.drop(columns=['imdbID_formatted'])

In [20]:
from sklearn.neighbors import NearestNeighbors

In [21]:
knn = NearestNeighbors(n_neighbors=6)

In [22]:
knn.fit(df)
arr = knn.kneighbors([df.iloc[0]], return_distance = False)

In [23]:
arr

array([[    0, 11279,  6102,  6212,   214, 10074]])

In [24]:
plots.iloc[11279]

index                                                 11335
imdbID                                            tt0074220
Plot      1970. After discussions and dishonest negotiat...
Name: 11279, dtype: object